body {
    background-color: #353535;
}

a:link,
a:visited {
    color: #000000;
    text-decoration: none;
}

#pm-wrapper {
    position: relative;
    display: block;
    width: 960px;
    height: 840px;
    margin: 0px auto;
    margin-top: 10px;
    background-color: #ffffff;
    border: 2px solid #0559b1;
    border-radius: 0.6em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

#pm-wrapper nav {
    position: relative;
    display: block;
    float: left;
    width: 275px;
    height: 830px;
    font-size: 12px;
    top: 6px;
    border-right: 1px solid #4f5f86;
}

#pm-wrapper nav ul {
    position: relative;
    display: block;
    top: 40px;
}

#pm-wrapper nav ul li {
    display: block;
    margin-bottom: 30px;
    margin-left: 45px;
}

h1.pm-app-title {
    position: relative;
    display: block;
    width: 275px;
    top: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    text-align: center;
}

h2.section-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
    color: #000000;
}

h3.view-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
    color: #000000;
    margin: 30px 0px 0px 45px;
} 

#profiler-viewconfig-container {
    position: relative;
    display: block;
    float: left;
    top: 25px;
    left: 55px;
}

#profiler-editconfig-container {
    position: relative;
    float: left;
    top: 25px;
    left: 38px;
    width: 620px;
}

#profiler-createprofile-container {
    position: relative;
    float: left;
    top: 25px;
    left: 38px;
    width: 620px;
}

#profiler-patterns-container {
    position: relative;
    float: left;
    top: 25px;
    left: 38px;
    width: 620px;
}

#my-charts-container {
    position: relative;
    float: left;
    top: 25px;
    left: 38px;
    width: 620px;
}

div.edit-btn-bottom {
    position: relative;
    top: 5px;
    left: 330px;
}

#profiler-viewconfig-container div.edit-btn-bottom a {
  background: #788591;
  background-image: -webkit-linear-gradient(top, #788591, #607D8B);
  background-image: -moz-linear-gradient(top, #788591, #607D8B);
  background-image: -ms-linear-gradient(top, #788591, #607D8B);
  background-image: -o-linear-gradient(top, #788591, #607D8B);
  background-image: linear-gradient(to bottom, #788591, #607D8B);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 3px 6px 3px 6px;
  text-decoration: none;
}

#profiler-viewconfig-container div.edit-btn-bottom a:hover {
  background: #607D8B;
  background-image: -webkit-linear-gradient(top, #607D8B, #788591);
  background-image: -moz-linear-gradient(top, #607D8B, #788591);
  background-image: -ms-linear-gradient(top, #607D8B, #788591);
  background-image: -o-linear-gradient(top, #607D8B, #788591);
  background-image: linear-gradient(to bottom, #607D8B, #788591);
  text-decoration: none;
}

.current-property-list {
    margin: 10px 0px 0px 40px;
}

#edit-config-form {
    position: relative;
    margin: 31px 0px 0px 0px;
    width: 610px;
}

.option-container-super {
    position: relative;
    float: left;
    width: 305px;
}

.option-container-imm {
    position: relative;
    float: right;
    width: 305px;
}

.option-container-hosts {
    position: relative;
    float: left;
    width: 305px;
}

#edit-config-form legend {
    position: relative;
    left: 10px;
}

.current-property-list ul {
    border: 1px solid #333333;
    border-radius: 0.6em;
    padding: 20px;
    margin: 4px;
}

#edit-config-form ul {
    border: 1px solid #333333;
    border-radius: 0.6em;
    padding: 20px;
    margin: 4px;
}

.current-property-list ul li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 15.4px;
    list-style-type: none;
    width: 440px;
    height: 10px;
    background-color: #ffffff;
    color: #666666;
    border-radius: 4px;
}

#edit-config-form ul li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 15.4px;
    list-style-type: none;
    width: 250px;
    background-color: #ffffff;
    color: #666666;
    border-radius: 4px;
}

#edit-config-form ul li label {
    position: relative;
    display: block;
    height: 3px;
}

#edit-config-form ul li input {
    position: relative;
    display: block;
    height: 20px;
    border-radius: 0.4em;
    margin-bottom: 10px;
}

.submit-btn-container {
    position: relative;
    width: 150px;
    float: none;
    top: 60px;
    left: 250px;
}

.current-property-list ul li span.left {
    position: relative;
    float: left;
    top: 5px;
    left: 4px;
}

.current-property-list ul li span.right {
    position: relative;
    float: right;
    top: 5px;
    right: 4px;
}

footer  {
    position: relative;
    display: block;
    width: 960px;
    height: 14px;
    margin: 0 auto;
}

 footer p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 9px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 15.4px;
    text-align: center;
    color: #ffffff;
}
